* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 800px;
  background-color: bisque;
  padding: 10px;
  margin: 0 auto;
}
.wrapper header {
  height: 50px;
  text-align: center;
}
.wrapper header h1 {
  font-weight: bold;
  color: rgb(31, 6, 122);
  background-color: rgb(218, 218, 218);
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wrapper header h1::after {
  content: "test text additional text";
  font-style: italic;
  text-align: center;
  color: rgb(16, 19, 43);
}
.wrapper main {
  text-align: justify;
  text-indent: 2rem;
  font-size: 1.2rem;
  color: rgb(16, 19, 43);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wrapper main .shadow {
  -ms-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 400px;
  margin: 10px;
  padding: 15px;
  border-radius: 0px 0px 20px 0px;
}
.wrapper main .shadow header {
  font-weight: bold;
  color: rgb(31, 6, 122);
  background-color: rgb(218, 218, 218);
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wrapper main .stripe-1 {
  background-color: black;
  color: white;
}
.wrapper main .stripe-3 {
  background-color: black;
  color: white;
}
.wrapper main .stripe-5 {
  background-color: black;
  color: white;
}
.wrapper main .stripe-7 {
  background-color: black;
  color: white;
}
.wrapper footer {
  margin-top: 15px;
  border-top: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(16, 19, 43);
}
.wrapper .slide-1 {
  height: 10px;
}
.wrapper .slide-2 {
  height: 20px;
}
.wrapper .slide-3 {
  height: 30px;
}
.wrapper .slide-4 {
  height: 40px;
}
.wrapper .slide-5 {
  height: 50px;
}
.wrapper .slide-6 {
  height: 60px;
}
.wrapper .slide-7 {
  height: 70px;
}